.habit-detailed-counter {
    color: #f0f2f1;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 2.5vmin;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: normal;
}

.habit-detailed-wrapper-habits {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start; 
    gap: 1.5vmin;
}

.habit-detailed-wrapper-habits-options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1vmin;
}

.habit-detailed-checkbox {
    content: "";
    width: 3vmin; /* Adjust the size of the checkbox */
    height: 3vmin; /* Adjust the size of the checkbox */
    border: 0.5vmin solid #4a4d53; /* Border color of the checkbox */
    background-color: #f0f2f1; /* Background color of the checkbox */
}

.habit-detailed-text-label {
    color: #f0f2f1;
    font-family: "Inter-Regular", Helvetica;
    font-size: 2.5vmin;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: normal;
}