.habit-wrapper {
    width: 46.43%; 
    height: 46.43%;
    background-color: #4a4d53;
    border-radius: 7.7%;
    position: relative;
}

.habit-name {
    position: absolute;
    top: 7.7%;
    left: 7.7%;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.5vmin;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: normal;
}

.habit-circles-wrapper {
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 60%;
    height: 40%;
}

.habit-circle-SVG {
    width: 33%;
    height: 33%;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
    .habit-name {
        font-size: 2.3vmin;
    }

}