.habit-circles-wrapper {
    position: absolute;
    top: 30%;
    left: 20%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 60%;
    height: 40%;
}

.habit-circle-SVG {
    width: 33%;
    height: 33%;
}
