.breathe-wrapper{
    width: 46.43%; 
    height: 46.43%;
    background-color: #4a4d53;
    border-radius: 7.7%;
    position: relative;
}

.breath-name {
    position: absolute;
    top: 7.7%;
    left: 7.7%;
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.5vmin;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: normal;
}

.breath-circle{
    position: absolute;
    top: 20%;
    left: 20%;
}

.breath-circle-SVG {
    width: 75%;
    height: 75%;
}

.breath-break{
    position: absolute;
    top: 40%;
    left: 18%;
    width: 40%;
    color: #1c1d1f;
}

.breath-timer-running {
    position: absolute;
    top: 40%;
    left: 26%;
    font-family: "Inter-Regular", Helvetica;
    font-size: 2.3vmin;
    font-weight: 800;
    letter-spacing: 0.3px;
    line-height: normal;
}

.breath-timer-done-counter {
    position: absolute;
    top: 80.77%;
    left: 83.07%;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 1.5vmin;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: normal;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
    .breath-name {
        font-size: 2.3vmin;
    }

    .breath-timer-done-counter {
        font-size: 2.5vmin;
    }
 
    .breath-timer-running {
        font-size: 4vmin;
    }
}

/* Media query for medium-sized screens (e.g., tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .breath-timer-running {
        font-size: 1.8vmin;
    }   
}