.pulsing {
  animation-name: pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: default;
}

.pulsing:after {
  content: 'breathe in';
  position: absolute;
  color: var(--primary-text-color);
  top: calc(55%);
  left: calc(0%);
  font-size: 3vmin;
  font-family: 'Inter-Regular', Helvetica;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  animation-name: text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pulsing:before {
  content: '';
  width: 16px;
  height: 50%;
  position: absolute;
  display: block;
  top: 0;
  left: calc(50% - 8px);
  /* z-index: 999; */
  animation-timing-function: linear;
  transform-origin: center bottom;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes text {
  0% {
    content: 'breathe in';
  }

  50% {
    content: 'hold';
  }
  51% {
    content: 'breathe out';
  }
  100% {
    content: 'hold';
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.breathe-history {
  color: var(--primary-text-color);
  font-family: 'Inter-Regular', Helvetica;
  font-size: 3.5vmin;
  font-weight: 400;
  overflow: hidden;
}

.breathe-history-yesterday {
  padding: 20px;
  float: left;
}

.breathe-history-overall {
  padding: 20px;
  float: left;
}

/* Media query for medium-sized screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .focus-timer-elapsing {
    font-size: 3vmin;
  }

  .pulsing:after {
    font-size: 2vmin;
  }

  .breathe-history {
    font-size: 2vmin;
  }
}

/* Media query for larger screens (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  /* You can add styles specific to larger screens here if needed */
  .focus-timer-elapsing {
    font-size: 4vmin;
  }

  .pulsing:after {
    font-size: 2vmin;
  }

  .breathe-history {
    font-size: 2vmin;
  }
}
