.mood-lines-wrapper {
    position: absolute;
    top: 43.1%;
    left: 17%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2.5vmin;
    width: 65.4%;
}

.moods-wrapper {
    position: absolute;
    top: 35%;
    left: 24%;
}

.mood-up-SVG {
    width: 70%;
    
}

.mood-down-SVG {
    width: 70%;

}

.mood-stable-SVG {
    width: 90%;
    height: 100%;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
    .mood-name {
        font-size: 2.3vmin;
    }

}