.about-wrapper {
  width: 30vw;
  height: 95vh;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
}

.about-header {
  color: var(--primary-text-color);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 7vmin;
  font-weight: 600;
  letter-spacing: 0.36px;
  line-height: normal;
}

.about-paragraph {
  color: var(--primary-text-color);
  font-family: "Inter-Regular", Helvetica;
  padding-top: 10%;
  width: 90%;
  text-align: left;
  font-size: 4vmin;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: normal;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
  .about-wrapper {
      width: 100vw;
      height: 100vh; /* Adjust as needed */
      border-radius: 0px;
  }

  .about-paragraph {
    text-align: justify;
  }

}

/* Media query for medium-sized screens (e.g., tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about-header {
    font-size: 3vmin;
  }

  .about-paragraph {
    font-size: 2vmin;
  }
}

/* Media query for larger screens (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  /* You can add styles specific to larger screens here if needed */ 
  .about-header {
    font-size: 3vmin;
  }

  .about-paragraph {
    font-size: 2.3vmin;
  }
}