.about-wrapper {
  width: 30vw;
  height: 95vh;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
}

.about-header {
  padding-top: 10%;
  color: var(--primary-text-color);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 3vmin;
  font-weight: 600;
  letter-spacing: 0.36px;
  line-height: normal;
}

.about-paragraph {
  color: var(--primary-text-color);
  font-family: "Inter-Regular", Helvetica;
  padding-top: 10%;
  width: 90%;
  font-size: 2.5vmin;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: normal;
  
}