/* Dashboard.css */
.app-wrapper {
  width: 90vmin;
  height: 90vmin;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin 2vmin;
}

.tile-wrapper {
  width: 46.43%;
  height: 46.43%;
  background-color: var(--tertiary-bg-color);
  border-radius: 7.7%;
  position: relative;
}

.tile-main-name {
  position: absolute;
  top: 7.7%;
  left: 7.7%;
  color: var(--primary-text-color);
  font-family: 'Inter-Regular', Helvetica;
  font-size: 3vmin;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: normal;
}


/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
  .app-wrapper {
    gap: 2vmin 4vmin;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .app-wrapper {
    width: 60vmin;
    height: 60vmin;
  }
}

/* Media query for medium-sized screens (e.g., tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .app-wrapper {
    width: 40vmin;
    height: 40vmin;
  }
}

/* Media query for larger screens (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  /* You can add styles specific to larger screens here if needed */
  .app-wrapper {
    width: 50vmin;
    height: 50vmin;
  }
}
