/* Dashboard.css */

.dashboard-wrapper {
    width: 45vw; 
    height: 95vh;
    background-color: #1C1D1F;
    border-radius: 20px;

}

.dash-user-name {
    padding-bottom: 20px;
}

.app-container {
    margin: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.app-wrapper {
    width: 590px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}