/* SettingsPage.css */
.settings-field-wrapper {
    width: 80%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
}

.settings-description {
    width: 80%
}

.settings-input-field {
    width: 80%;
    margin-left: 20%;
    border-radius: 0.5vmin;

}

.settings-buttons-wrapper {
    padding-top: 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2vmin;
}

.field-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vmin;
}