/* MasterStyle.css -- all the classes here to be reusable! */
.start-wrapper {
    width: 70vw; 
    height: 70vh;
    background-color: #1C1D1F;
    border-radius: 20px;

}

.app-button.go-dash {
    margin-top: 10%;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
    .start-wrapper {
        width: 90vw;
        height: 90vh; /* Adjust as needed */
        border-radius: 20px;
    }

}