.focus-detailed-reset-icon {
  cursor: pointer;
}

.focus-detailed-reset-icon:hover {
  transform: scale(1.05);
}

.focus-detailed-reset-icon:active {
  transform: scale(0.95);
}

.reset-icon {
  position: relative;
  top: 50%;
  left: 80%;
  width: 10%;
}

.focus-detailed-circular-progress-bar {
  margin: 0 auto;
  width: 65vmin;
  height: 65vmin;
  text-align: center;
  border-radius: 100%;
  box-shadow: -50px -50px 100px #6f6f6f, 50px 50px 100px #6f6f6f;
  cursor: pointer;
}

.focus-timer-elapsing {
  color: var(--primary-text-color);
  font-size: 4vmin;
}

.focus-timer-next {
  font-family: 'Inter-Regular', Helvetica;
  color: var(--primary-text-color);
  font-size: 2vmin;
  font-weight: 600;
  letter-spacing: 0.36px;
}

.CircularProgressbar-path {
  stroke: var(--accent-color);
}
.CircularProgressbar-trail {
  stroke: #6f6f6f;
}
.CircularProgressbar-text {
  fill: var(--primary-text-color);
}

.focus-detailed-circular-progress-bar:active {
  transform: scale(0.98);
}

.focus-done-day {
  padding-top: 5%;
  color: var(--primary-text-color);
  font-family: 'Inter-Regular', Helvetica;
  font-size: 3.5vmin;
  font-weight: 600;
  letter-spacing: 0.36px;
  line-height: normal;
}

.focus-history {
  color: var(--primary-text-color);
  font-family: 'Inter-Regular', Helvetica;
  font-size: 2vmin;
  font-weight: 400;
  overflow: hidden;
}

.focus-history-yesterday {
  padding: 20px;
  float: left;
}

.focus-history-overall {
  padding: 20px;
  float: left;
}

/* Media query for medium-sized screens (e.g., tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .focus-timer-elapsing {
    font-size: 3vmin;
  }

  .focus-timer-next {
    font-size: 1vmin;
  }

  .focus-done-day {
    font-size: 2vmin;
  }

  .focus-detailed-circular-progress-bar {
    width: 20vw;
    height: 20vw;
  }
}

/* Media query for larger screens (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  /* You can add styles specific to larger screens here if needed */
  .focus-timer-elapsing {
    font-size: 4vmin;
  }

  .focus-timer-next {
    font-size: 1vmin;
  }

  .focus-done-day {
    font-size: 2vmin;
  }

  .focus-detailed-circular-progress-bar {
    width: 25vmin;
    height: 25vmin;
  }
}
